up.time
commit.time
commit.default
target.mk
.*.sw*

.sass-cache/
Gemfile
Gemfile.lock
_site/
ngorongoro.jpg

*.post

*.Rout.pdf
*.html

*.log
*.aux
.*.aux
*.blg
*.bbl

*out
*.RData
*.Rlog
*.r
.Rhistory

*.wrapR.*

local.mk

testdir/
.testdir/
subclone_dir/

*.makestuff
